{% extends "layout.html" %} <!--inherit-->
{% block content %}
<form action='/quizresults', method = 'POST'>

{% for question in quiz.quiz_questions %}
<div class="content-section">
    <h2>{{ question.getQuestion()}}</h2>
    {% for answer in question.getRandomAnswers() %}
    <input type = "radio", name = "{{question.getQuestion()}}", value ="{{answer}}">{{answer}}<br>
        {% endfor %}
        </div>
        <br>
{% endfor %}

<input type="submit", value = "submit">    
</form>
{% endblock content %}

